html {
    position: relative;
	min-height:900px;
	background-color:#fdfdf1;
	overflow-y:scroll;
}
@media only screen and (max-width: 620px) {
	html {
    position: relative;
	width:320px;
	background-color:#fdfdf1;
	overflow-y:scroll;
	}
	
}

body {
	display:fixed;
	background-color:#FFFDFA; /* NOTE find better COLOUR */
	
	/*height:100%;*/
	margin: 0 auto 100px;
	width:800px;
	font-family:Arial black;
	padding:25px;
	padding-top:170px;
	padding-bottom:;
	overflow:auto;
	/*border:15px solid #000;*/
	box-shadow: 0px 0px 100px 100px #FFFDFA;
	max-height:100%;
	overflow:hidden;

}
@media only screen and (max-width: 620px) {
	body {
		background-color:#FFFDFA;
		/*height:100%;*/
		margin: 0 auto 0;
		font-family:Arial black;
		padding-top:170px;
		
		overflow:auto;
		/*border:15px solid #000;*/
		position:absolute;
		left:0;
		width:270px;
		text-align:center;
		font-family:Calibri;
		overflow:hidden;
		
		
		
		
	}
	
	
}

h1 {
	font-family:Alegreya, Arial Black;
	font-size:2em;
	
}

h2 {
	font-family:Alegreya, Arial Black;
	font-size:2em;
	
}

h3 {
	font-family:Alegreya, Arial Black;
	font-size:2em;
	
}

h4 {
	font-family:Alegreya, Arial Black;
	font-size:2em;
	
}
h6 {
	display:inline-block;
	margin:0;
	padding:0px;
	margin-top:25px;
	
	
}

label {
	font-family:Alegreya, Arial Black;
	font-weight:bold;

}




.orders{
	cursor: pointer;
}
#login{
	display:none;
}
#createUser{
	display:none;
}
#logout{
	display:none;
}





article {
	background-color:#FFFDFA;
	/*float:left;*/
	width:49%;
	height:100%;
	font-family:Calibri;
	
	
}
@media only screen and (max-width: 620px) {
	article {
		background-color:#FFFDFA;
		/*float:left;*/
		width:320px;
		height:100%;
		font-family:Calibri;
		margin-left:-25px;
		
	}
}
#content {
	padding-left:5px;
	overflow:auto;
	display:inline;
	
}
@media only screen and (max-width: 620px) {
	#form_content {
		background-color:#FFFDFA;
		/*float:left;*/
		width:320px;
		height:400px;
		font-family:Calibri;
		margin-left:-25px;
	}
}



#content_contact {
	padding-left:5px;
	min-height:500px;
	overflow:auto;
	overflow-x:hidden;
	display:block;
	float:right;
	
}

#content_contact p {
	font-size:1rem;
}

@media only screen and (max-width: 620px) {
	#content_contact {
		display:none;
		padding-left:5px;
		max-height:9000px;
		overflow:auto;
		display:block;
		float:none;
		margin-top:;
		
	}
	#content_contact p {
		display:none;
		margin-left:-30px;
		font-size:0.8em;
		padding:5px;
		width:320px;
	}
}


#content p {
	background:#f1f1f1;
	padding:5px;
	padding-bottom:10px;
	min-height:200px;
}
#content p  img{
	padding:5px;
	padding-right:20px;
}
@media only screen and (max-width: 620px) {
	#content p {
		margin-left:-30px;
		font-size:0.8em;
		padding:5px;
		width:320px;
	}
}

#news {

	margin-right:10px;
	height:400px;
	padding:;
	overflow:hidden;
	float:left;

}
#news img {
	margin:auto;
}
#news p {
	display:block;
	margin:auto;
	text-align:center;
	padding-top:25px;
	
}
#recommended {
	height:500px;
}



header {
	background:#875252;
	position:absolute;
	left:0;
	top:0px;
	height:20px;
	width:100%;
	
	
	text-align:center;
	font-family:Calibri;
	padding-top:50px;
	padding-bottom:50px;
	
	overflow:hidden;
}

@media only screen and (max-width: 620px) {
		header { width:320px; }
}

nav {
	background-color:#875252;
	width:100%;
	text-align:center;
	margin:auto;
	margin-top:-50px;
	margin-bottom:50px;
}
nav > p {
	
	margin-top:0px;
	padding:0px;
	/*width:100%;*/
}

#logo {
	margin-top:25px;
	float:left;
	padding-left:10px;
	
}
@media only screen and (max-width: 620px) {
	#logo {
		display:none;
		margin-top:25px;
		float:left;
		padding-left:10px;
		
	}
}
iframe {
		background-color:#FFFDFA;
		/*float:left;*/
		width:320px;
		height:600px;
		font-family:Calibri;
		margin-left:-25px;
}

.bad {
	background:red;
	display:none;
}

.menu {
	background:#875252;
	position:absolute;
	left:0;
	top:120px;
	height:20px;
	width:100%;
	text-align:center;
	font-family:Calibri;
	padding-top:10px;
	padding-bottom:10px;
	
	overflow:hidden;
}

.menu a {
	background-color:f0f0f0;
	border-radius:5px;
	padding:5px;
	border:000;
	color:ff000;
	text-align:center;
	font-size:1.2em;
		
}

@media only screen and (max-width: 620px) {
	.menu a {
		background-color:f0f0f0;
		border-radius:5px;
		padding:5px;
		border:000;
		color:ff000;
		text-align:center;
		font-size:0.9em;
			
	}

}



.menu a:active {
	background-color:000;
	border:000;
	color:fff;
	text-align:center;
	font-size:1.7em;
}

@media only screen and (max-width: 620px) {
	.menu a:active {
		background-color:000;
		border:000;
		color:fff;
		text-align:center;
		font-size:0.9em;
	}
}

footer {
	background:#875252;
	position:absolute;
	left:0;
	bottom:-50px;
	height:120px;
	width:100%;
	
	
	text-align:center;
	font-family:Calibri;
	padding-top:00px;
	padding-bottom:00px;
	
	overflow:hidden;
			
}
@media only screen and (max-width: 620px) {
	footer {
		background:#875252;
		position:absolute;
		left:0;
		bottom:-50px;
		height:50px;
		width:320px;
		
		
		text-align:center;
		font-family:Calibri;
		padding-bottom:70px;
		
		overflow:hidden;
		margin-bottom:;
				
	}
	
	address a {
		display:inline-block;
		padding-top:-550px;
	}
	address {
		display:inline;
		top:0;
	}
	
}




address {
	display:inline;
	top:0px;
}
address  img {
	display:inline-block;
	margin-top:auto;
}


form {
	text-align:right;
	margin-top:0px;
	margin-right:-10px;
}
form p {
	margin:0px;
	line-height:0px;
	padding-top:0px;
}
#searchForm{
	text-align:center;
	margin:auto;
	margin-top:0px;
	margin-left:;
	width:500px;
}
@media only screen and (max-width: 620px) {
	#searchForm{
		text-align:left;
		margin:auto;
		margin-top:0px;
		margin-left:45px;
		width:500px;
	}
}

#contact_form {
	/* NOTE needs ADAPTIVE */
	margin:auto;
	padding-top:50px;
	text-align:left;
	height:100%;
	width:75%;
}
#login-form {
	margin:auto;
	width:320px ;

}
#create-form {
	margin:auto;
	width:320px ;

}
.form-group {
	margin-left:0px;
	text-align:right;
}
#login-form input {
	background:#fefefe;
}
#create-form input {
	background:#fefefe;
}
@media only screen and (max-width: 620px) {
	#login-form {
	position:absolute;
	left:0;
	top:100px;
	height:500px;
	width:320px;
	text-align:right;
	padding-top:50px;
	padding-bottom:50px;
	overflow:hidden;	
	}
	#create-form {
	position:absolute;
	left:0;
	top:100px;
	height:500px;
	width:320px;
	text-align:right;
	padding-top:50px;
	padding-bottom:50px;
	overflow:hidden;	
	}
	.form-group {
		padding-left:-40px;
		text-align:right;
	}
}
fieldset {
	border:5px solid;
	height:100%;
}

p {
	font-family:Helvetica Arial black;
	font-size:1.5em;
}

a {
	text-decoration:none;
	
	
}

.clearfix {
	position:fixed;
	display:block;
	overflow:hidden;
	clear:both;
	height:100px;
}

#tabs {
	display:block;
	margin-top:-0px;
}

#tabs li {
	
	display:inline;
}

#genres {
	position:relative;
	display:block;
	text-align:center;
	margin-left:0px;
	padding-left:0px;
	
}
#genres li {
}

#genres img {
	display:none;
}
#genres h1 {
	display:inline;
	font-size:1em;
	color:white;
	background:#7E9E42;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border-radius:10px;
	
	
}
@media only screen and (max-width: 620px) {
	#tabs {
		display:block;
		background-color:#FFFDFA;
		/*float:left;*/
		width:320px;
		height:100%;
		font-family:Calibri;
		margin-left:-25px;
		font-size:0.6em;
	}

	#tabs li {
		background-color:#FFFDFA;
		/*float:left;*/
		width:320px;
		height:100%;
		font-family:Calibri;
		margin-left:-25px;
		display:inline;
		padding:10px;
	}

	#genres img {
		display:inline;
	}
	#genres li {


	}
#genres h1 {
	display:none;
	font-size:1em;
}

}



/* --------------------------burger menu-------------------------- */

.hamburger {
 display:none;
 background: #8f5f5f;
 position: absolute;
 top: 0;
 right: 0;
 line-height: 45px;
 padding: 5px 15px 0px 15px;
 color: #999;
 border: 0;
 font-size: 1.4em;
 font-weight: bold;
 cursor: pointer;
 outline: none;
 z-index: 10000000000000;
 height:120px;
 width:50px;
}

.cross {
 display:none;
 background: #8f5f5f;
 position: absolute;
 top: 0px;
 right: 0;
 padding: 7px 15px 0px 15px;
 color: #999;
 border: 0;
 font-size: 3em;
 line-height: 65px;
 font-weight: bold;
 cursor: pointer;
 outline: none;
 z-index: 10000000000000;
 height:120px;
 width:50px;
}


.menu {
 z-index:;
 font-weight: bold;
 font-size: 0.8em;
 width: 100%;
 background: #f1f1f1;
 position: absolute;
 text-align: center;
 font-size: 12px;
}

.menu ul {
 margin: 0px;
 padding: 0px;
 list-style-type: none;
 list-style-image: none;
}

#logout {
 margin: 0;
 padding: 0;
 list-style-type: none;
 list-style-image: none;
}

.menu li {
 display: block;
 padding: 15px 0 15px 0;
 border-bottom: #dddddd 1px solid;
}

.menu li:hover {
 display: block;
 background: #ffffff;
 padding: 15px 0 15px 0;
 border-bottom: #dddddd 1px solid;
}

.menu ul li a {
 text-decoration: none;
 margin: 0px;
 color: #666;
}

.menu ul li a:hover {
 color: #666;
 text-decoration: none;
}

.menu a {
 text-decoration: none;
 color: #666;
}

.menu a:hover {
 text-decoration: none;
 color: #666;
}

.glyphicon-home {
 color: white;
 font-size: 1.5em;
 margin-top: 5px;
 margin: 0 auto;
}

@media only screen and (min-width: 620px) {
	.hamburger {
		display:none;
	}
	.cross {
		display:none;
	}
}

@media only screen and (max-width: 620px) {
	.menu {
		width:320px;
	}

}

	
#createUserButton, #logout, #login {
	text-align:center;
	
}

#incorrectText {
	display:none;
	font-family:Alegreya, Arial Black;
	color:red;
	margin-top:10px;
	font-size: 100%;
	text-align:right;
}

#nullFields {
	display:none;
	font-family:Alegreya, Arial Black;
	color:red;
	margin-top:10px;
	font-size: 100%;
	text-align:right;
}
#invalidPassword {
	display:none;
	font-family:Alegreya, Arial Black;
	color:red;
	margin-top:10px;
	line-height:20px;
	font-size: 100%;
	text-align:right;
}
#duplicateUsernameOrEmail {
	display:none;
	font-family:Alegreya, Arial Black;
	color:red;
	margin-top:10px;
	font-size: 100%;
	text-align:right;
}
#someText {
	display:inline;
	background:;
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	padding:10px;
	font-family:Alegreya, Arial Black;
	
}
@media only screen and (max-width: 620px) {
	#someText {
		display:inline;
		background:;
		box-shadow: 1px 2px 3px rgba(0,0,0,.5);
		padding-left:10px;
		padding-top:0px;
		padding-bottom:0px;
		font-family:Alegreya, Arial Black;
	}
	
}

.content-img {
	display:block;
	float:left;
	padding-right:15px;
}

.maincontent {
	width:100%;
	height:650px;
	overflow-y:scroll;
}
@media only screen and (max-width: 620px) {
	.maincontent {
		width:100%;
		height:650px;
		overflow-y:scroll;
		margin-left:1px;
	}	
}
body > ::-webkit-scrollbar { 
    display: none; 
}

@media only screen and (max-width: 620px) {
	.desktoptext {
		display:none;
	}
}
#contact {
	position:relative;
	margin-left:0px;
	text-align:left;
	border:none;
	width:200px;
	background:;
	border:1px grey solid;
}
#send_email {
	text-align:left;
	width:100%;
	background:lightgrey;
	padding:10px;
}

/*tabs */
#adventure, #romance , #cooking, #comic {
	width:100%;
	margin-top:50px;
	
}

#adventure {
}
#romance {
	
}
#cooking {
	
}
#comic {
	
}
.adventureClick {
	width:50px;
	background:lightblue;
	border:none;
	padding:5px;
}
.romanceClick {
	width:50px;
	background:lightblue;
	border:none;
	padding:5px;
}
.comicClick {
	width:50px;
	background:lightblue;
	border:none;
	padding:5px;
}
.cookingClick {
	width:50px;
	background:lightblue;
	border:none;
	padding:5px;
}
tr th:first-of-type {
	background:;
}

tr {
	padding:2px;
	background:;
	margin:0px;
}

tr th {
	text-align:left;
}
tr th:nth-of-type(2) {
	font-size:1.4rem;
}

table {
	margin:auto;
	padding:50px;
	background:#fde398;
	border:solid 15px #2089ca;
}
