html {
    position: relative;
    /*min-height: 100%;*/
	
	/* background-color:#ffffff; */
	/*border:15px solid #000;*/
	background-image:url("../images/paper2.jpg"); /* NOTE find better IMAGE */
}



body {
	background-color:#FFFDFA; /* NOTE find better COLOUR */
	
	/*height:100%;*/
	margin: 0 auto 100px;
	width:800px;
	font-family:Arial black;
	padding:25px;
	padding-top:170px;
	overflow:auto;
	/*border:15px solid #000;*/
	box-shadow: 0px 0px 100px 100px #FFFDFA;

}
@media only screen and (max-width: 800px) {
	body {
		background-color:#FFFDFA;
		/*height:100%;*/
		margin: 0 auto 100px;
		width:400px;
		font-family:Arial black;
		padding:25px;
		padding-top:0px;
		overflow:auto;
		/*border:15px solid #000;*/
	}
}



article {
	background-color:#FFFDFA;
	/*float:left;*/
	width:49%;
	height:100%;
	font-family:Calibri;
	
	
}
@media only screen and (max-width: 800px) {
	article {
		background-color:#FFFDFA;
		/*float:left;*/
		width:100%;
		height:100%;
		font-family:Calibri;
		
		
	}
}
#content {
	padding-left:5px;
	max-height:9000px;
	overflow:auto;
	display:inline;
	
}
#content p {
	padding:5px;
}
#news {
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	margin-right:10px;
	max-height:400px;
	float:left;

}
#news p {
	padding:5px;
	
}
#recommended {
	height:500px;
}



header {
	background:#875252;
	position:absolute;
	left:0;
	top:0px;
	height:20px;
	width:100%;
	
	
	text-align:center;
	font-family:Calibri;
	padding-top:50px;
	padding-bottom:50px;
	
	overflow:hidden;
}
nav {
	background-color:#875252;
	width:100%;
	text-align:center;
	margin:auto;
	margin-top:-50px;
	margin-bottom:50px;
}
nav > p {
	
	margin-top:0px;
	padding:0px;
	/*width:100%;*/
}
#login {
	float:right;
	padding-right:10px;	
	
	
}
#logo {
	margin-top:10px;
	float:left;
	padding-left:10px;
}
#button_bar {
	background:#875252;
	position:absolute;
	left:0;
	top:170px;
	height:20px;
	width:100%;
	
	
	text-align:center;
	font-family:Calibri;
	padding-top:10px;
	padding-bottom:10px;
	
	overflow:hidden;
}
#button_bar a {
	background-color:f0f0f0;
	border-radius:5px;
	padding:5px;
	border:000;
	color:ff000;
	text-align:center;
	font-size:1.2em;
	
}
#button_bar a:active {
	background-color:000;
	border:000;
	color:fff;
	text-align:center;
	font-size:1.7em;
}


footer {
	background:#875252;
	position:absolute;
	left:0;
	bottom:0px;
	height:10px;
	width:100%;
	
	
	text-align:center;
	font-family:Calibri;
	padding-top:50px;
	padding-bottom:50px;
	
	overflow:hidden;
			
}
addresss {
	margin-bottom:1px;
}



form {
	text-align:right;
	margin-top:0px;
	margin-right:-10px;
}
form p {
	margin:0px;
	line-height:0px;
	padding-top:0px;
}
#contact_form {
	/* NOTE needs ADAPTIVE */
	margin:auto;
	padding-top:50px;
	text-align:left;
	height:100%;
	width:75%;
}
fieldset {
	border:5px solid;
	height:100%;
}
p {
	font-family:Arial black;
}
a {
}
.clearfix {
	overflow:auto;
}
@media only screen and (max-width: 800px) {
	#adaptive {
		display:none;
	}
}



@media only screen and (min-width: 800px) {
	#adaptive2 {
		display:none;
	}
}
#tabs {
	display:block;
}
#tabs li {
	
	display:inline;
}
